body {
  background-image: none;
  background-color: $cl-disabled;
}

.widget {
  display: flex;
  flex-direction: row;
}

.widget.widget-title .data-info .desc {
  font-size: 1.077rem;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar {
  background-color: $color-white;
  border: 0;
  margin-bottom: 0;
  border-bottom: 1px solid $cl-gray2;
  padding: 0;

  &-wrap {
    display: flex;
    width: 230px;
    flex: 0 0 230px;

    @include breakpoint-down(phone) {
      display: none;
    }
  }

  &-brand {
    display: block;
    line-height: 60px;
    height: 60px;
    width: 142px;
    background-image: url('../images/logo.png ');
    background-repeat: no-repeat;
    background-position: 20px center;
    padding: 0 20px;
    margin: 0;
  }
}

.page-title {
  font-size: 1.462rem;
  line-height: 60px;
  float: left;
  flex: 1 1;
  padding: 0 20px;
  color: $cl-pri-hover;

  span {
    display: block;
    white-space: nowrap;
  }

  @include breakpoint-down(phone) {
    display: none;
  }
}

.navbar-more {
  padding-right: 20px;
  flex: 0 0 auto;

  @include breakpoint-down(phone) {
    width: 100%;
    padding-right: 0;
    background: $bg-primary;
    .nav-item {
      position: fixed;
      left: 15px;
    }
  }
  .icon {
    margin-right: 5px;
  }
  .zmdi-apps {
    margin-right: 9px;
  }
  .user-img {
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
  }

  .user-name {
    margin-left: 8px;
    display: none;
    font-size: 1.077rem;
    line-height: 20px;

    @include breakpoint-down(phone) {
      display: inline-block;
      color: $color-white;
    }
  }

  .dropdown-menu {
    border-radius: 3px;
    margin-top: 12px;
    line-height: 20px;
  }
}
.dropdown-admin {
  border-radius: 3px;
  margin-top: 12px;
  line-height: 20px;
  width: 220px;
  padding: 0 0 7px;
  left: -178px;

  @include breakpoint-down(phone) {
    left: 0;
  }
  .user-info {
    background-color: $bg-primary;
    color: $color-white;
    padding: 20px 15px 14px;
    border-radius: 2px 2px 0 0;
    margin-bottom: 7px;
  }

  .user-name {
    display: block;
    font-size: 1.462rem;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 0;
  }
  .dropdown-item {
    color: $cl-dark8;
    padding: 10px 20px;
    min-width: 175px;
    line-height: 18px;
  }
  .user-position {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 13px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 7px;
      width: 7px;
      left: 0;
      top: 5px;
      border: 1px solid $cl-green1;
      border-radius: 50%;
      display: block;
      background-color: $cl-green1;
    }
  }

  &:after {
    border-bottom: 8px solid $color-white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -8px;
    content: ' ';
    left: 42px;
    margin-left: -6px;
    position: absolute;
    display: none;
    right: 13px;
    border-bottom-color: $bg-primary;
  }
}
.dropdown {
  color: $cl-dark8;
  line-height: 18px;

  .icon {
    font-size: 1.231rem;
    line-height: normal;
    vertical-align: middle;
    margin-right: 10px;
    color: $cl-dark9;
    font-family: $font-icon;
  }

  .nav-link {
    cursor: pointer;
    padding: 0 10px;
    line-height: 60px;
    font-size: 14px;
    position: relative;

    .indicator {
      background-color: $bg-primary;
      border-radius: 50%;
      display: block;
      height: 6px;
      width: 6px;
      position: absolute;
      top: 18px;
      right: 14px;

      @include breakpoint-down(phone) {
        background-color: $color-white;
      }
    }
  }

  .nav-link.dropdown-toggle:after {
    border-top-color: $color-white;
    top: 28px;
    position: absolute;

    @media (min-width: 768px) {
      display: none;
    }
  }
  .nav-link .icon {
    font-size: 1.846rem;
    vertical-align: middle;
    color: $cl-dark6;
    font-family: $font-icon;

    @include breakpoint-down(phone) {
      color: $color-white;
    }
  }

  &.show > .nav-link:before {
    content: ' ';
    position: absolute;
    z-index: 1000;
    border-bottom: 9px solid $color-white;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    bottom: -13px;
  }
  &.show .nav-link .icon {
    color: $bg-primary;

    @include breakpoint-down(phone) {
      color: $color-white;
    }
  }
}

.icon-nav {
  margin-right: 10px;

  @include breakpoint-down(phone) {
    margin-right: 0;
  }

  .dropdown {
    position: static;

    a,
    i {
      color: $bg-primary;
    }
  }
}
%dropdown {
  width: 300px;
  padding: 0;
  box-sizing: content-box;
  box-shadow: 0 2px 6px rgba($color-black, .08);
  border: 1px solid $cl-gray1;
  border-radius: 3px;
  margin-top: 12px;
  line-height: 20px;
  position: absolute;
  left: auto;
  float: none;
}

.user-nav .dropdown {
  &.show > .nav-link:before {
    border-bottom: 8px solid $bg-primary;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -13px;
    content: ' ';
    display: inline-block;
    left: 50%;
    margin-left: -8px;
    position: absolute;
  }
}

.block-notifications {
  @extend %dropdown;

  right: 25px;
  z-index: 99;

  @include breakpoint-down(phone) {
    right: 25px;
  }

  &:hover .ps__rail-y {
    display: block;
    opacity: .9;
  }

  .title {
    font-size: 1rem;
    color: $cl-gray;
    text-align: center;
    padding: 10px 0 8px;
    border-bottom: 1px solid $cl-white2;
  }

  .badge {
    font-size: .6962rem;
    line-height: 10px;
    vertical-align: middle;
    margin-left: 4px;
    background-color: $cl-white3;
    color: $cl-gray;
    min-width: 17px;
    height: 17px;
    text-align: center;
    padding: 3px 6px;
    border: 1px solid $cl-white4;
  }

  .list .content-notifications {
    height: 222px;
    position: relative;
  }

  .footer a {
    background-color: $cl-white5;
    font-size: 1rem;
    color: $cl-gray;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid $cl-white2;
    display: block;
    outline: 0;
    font-family: inherit;
    &:hover {
      background-color: $cl-white8;
    }
  }
}

.notification {
  overflow: hidden;
  border-bottom: 1px solid $cl-white2;

  & > a {
    position: relative;
    padding: 15px;
    display: block;
    overflow: hidden;

    .image {
      height: 38px;
      width: 38px;
      border-radius: 50%;
      background-color: $cl-white3;
      float: left;
      text-align: center;
      overflow: hidden;
    }

    .time-active {
      margin: 0;
      color: $cl-gray;
      display: block;
      font-size: .6923rem;
      margin-top: 4px;
      text-transform: uppercase;
    }
  }

  &-info {
    padding-left: 50px;
    line-height: 14px;

    .text {
      font-weight: $font-weight-base + 100;
      color: $cl-gray;
      font-size: .9231rem;
      line-height: 16px;
      margin-bottom: 0;

      .user-name {
        display: inline-block;
        color: $bg-primary;
        font-size: 1rem;
        margin-left: 0;
      }
    }
  }

  &:hover {
    background-color: $bg-primary;

    .user-name,
    .time-active,
    .text {
      color: $color-white;
    }
  }
}

.notification.notification-unread {
  background-color: $cl-white6;
  border-bottom: 1px solid $cl-white7;

  a:after {
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    bottom: 57px;
    width: 6px;
    height: 6px;
    background-color: $bg-primary;
    border-radius: 50px;
  }

  &:hover {
    background-color: $bg-primary;

    .user-name,
    .time,
    .text {
      color: $color-white;
    }
  }

  @include breakpoint-down(phone) {
    &:focus {
      .user-name,
      .time,
      .text {
        color: $color-white;
      }
    }
  }

  &:hover a:after {
    background: $color-white;
  }
}

.block-connect {
  @extend %dropdown;

  right: 24px;
  z-index: 99;
  .list-connect {
    padding: 20px 15px;

    .row {
      margin: 0;
    }

    .col {
      padding: 0 5px;
    }
  }

  .connect-item {
    border-radius: 3px;
    line-height: 34px;
    text-align: center;
    padding: 15px 0 9px;
    display: block;
    border: 1px solid transparent;
    color: $cl-dark6;

    img {
      max-height: 35px;
      max-width: 35px;
    }

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      background-color: transparent;
      border-color: $cl-white2;
    }
  }

  .footer a {
    background-color: $cl-white5;
    font-size: 1rem;
    color: $cl-gray;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid $cl-white2;
    display: block;
    outline: 0;
    font-family: $font-family-base;
    &:hover {
      background-color: $cl-white8;
    }
  }
}
