.sidebarRight {
  position: fixed;
  background-color: #fafafa;
  margin-top: 61px;
  padding-bottom: 61px;
  width: 290px;
  height: calc(100% - 61px);
  right: -290px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #e8e8e8;
  z-index: 1000;
  transition: all .35s ease;

  &-content {
    height: 100%;
  }

  .nav {
    border-bottom: 1px solid #dee2e642;

    &-link {
      background-color: #f2f2f2;
      border-width: 0;
      padding: 15px 10px;
      min-width: auto;
      font-size: 1.077rem;
      margin-right: 0;
      text-align: center;
      border-radius: 0;
      color: #404040;
      cursor: pointer;

      &:focus {
        border: 0;
      }

      &:hover {
        border: 0;
        background-color: #f6f6f6;
        color: #3b3b3b;
      }
    }

    &-link.active {
      color: #4285f4;
      background-color: transparent;
    }
  }

  .tab-pane,
  .tab-panel,
  .tab-content {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .tab-chat {
    white-space: nowrap;
    font-size: 0;
    width: 290px;

    h2 {
      margin: 30px 20px 15px;
      line-height: 1.1;
    }
  }

  .chat-section {
    width: 100%;
    flex-grow: 1;
  }
  .chat-content {
    flex: 1;

    h2 {
      font-size: 1.154rem;
      font-weight: 400;
      padding-bottom: 15px;
      border-bottom: 1px solid #ebebeb;
      padding-left: 5px;
      margin-bottom: 20px;
      margin-top: 18px;
    }

    .contact-list-recent {
      margin-bottom: 30px;
      font-size: .9231rem;
    }
  }

  .chat-contacts {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .chat-search {
    position: relative;
    border-top: 1px solid #f2f2f2;

    input {
      border: 0;
      background-color: #fafafa;
      color: #404040;
      width: 100%;
      font-size: 1rem;
      font-weight: 400;
      padding: 15px 20px;
      outline: 0;
    }
    i {
      position: absolute;
      color: #aaa;
      right: 15px;
      top: 50%;
      font-size: 1.538rem;
      margin-top: -10px;
      cursor: pointer;
    }
  }

  .chat-window {
    position: absolute;
    left: 290px;
  }
}

.user {
  a {
    display: block;
    padding: 11px 25px;
    overflow: hidden;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
  }

  &-data {
    padding-left: 40px;
    line-height: 16px;

    .status {
      background-color: #00b777;
      border-radius: 50%;
      float: right;
      width: 7px;
      height: 7px;
      position: relative;
      top: 5px;

      &.away {
        background-color: #f2c329;
      }

      &.offline {
        background-color: #e65a5a;
      }
    }

    .name {
      color: #404040;
      font-weight: 500;
      font-size: 1rem;
    }

    .message {
      display: block;
      color: #999;
      font-size: 1rem;
    }
  }
}

.todo-content {
  height: 100%;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.todo-inner,
.tab-settings {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0;
  overflow: hidden;

  h3 {
    display: block;
    font-size: 1.154rem;
    font-weight: 400;
    color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 15px;
    margin-top: 0;
  }
}

.todo-list {
  list-style: none;
  padding: 4px 0 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .custom-control-check {
    margin-top: .1875rem;
    margin-bottom: 1.1105rem;
    position: relative;
    display: block;
    padding-left: 0;
    cursor: pointer;
  }
  .custom-checkbox-label {
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    outline: 0;
    cursor: pointer;
    margin-left: 0;
    padding-left: 5px;
    padding-bottom: 2px;
    &:after {
      position: absolute;
      top: 1px;
      left: 2px;
      display: block;
      content: '';
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      font-size: 15px;
      line-height: 1.2;
      width: 1.38462rem;
      height: 1.38462rem;
    }
    &:before {
      top: 0;
      left: 2px;
      position: absolute;
      border-radius: 3px;
      margin: 0;
      color: #4285f4;
      display: block;
      width: 1.38462rem;
      height: 1.38462rem;
      pointer-events: none;
      content: '';
      background-color: #fff;
      border: #a1a1a1 solid 1px;
    }
  }
  .custom-checkbox-input:checked ~ .custom-checkbox-label:after {
    font-size: 15px;
    line-height: 1.2;
  }
}

.todo-list > li .custom-control input[type='checkbox']:checked ~ .custom-control-label {
  text-decoration: line-through;
  color: #999;
}

.tab-settings-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 15px;
  line-height: 20px;

  li {
    margin: 0;
    padding: 5px 0;
    line-height: 24px;
    font-size: 1.077rem;

    .switch-button {
      float: right;
      margin-left: 5px;
    }

    .name {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.sidebar-show {
  right: 0;
}

.sidebar-left {
  height: 100%;
  margin-top: 61px;
  padding-bottom: 61px;
  padding-top: 8px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1029;
  background-color: #f5f5f5;
  width: 230px;
  left: 0;
  border-right: 1px solid #e3e3e3;

  &:before {
    content: ' ';
    position: fixed;
    z-index: -1;
    width: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: inherit;
    border-right: 1px solid #e3e3e3;
  }

  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sub-menu.child {
    li {
      padding-left: 11px;
    }
  }
}

.sidebar-nav {
  position: relative;

  .nav {
    display: flex;
    flex-direction: column;

    .divider {
      padding: 20px 20px 0;
      color: #7b7b7b;
      line-height: 30px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: .8462rem;
    }
  }
}

.nav {
  &__link {
    display: block;
    padding: 0 20px;
    color: #696969;
    font-size: 1.077rem;
    line-height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__item.active .nav__link {
    padding-left: 20px;
    font-weight: 500;
    color: #4285f4;
  }

  &__item.parent > a:before {
    content: '\f2f2';
    float: right;
    font-family: $font-icon;
    font-size: 1.615rem;
    color: #b0b0b0;
  }

  .zmdi {
    line-height: 18px;
    font-size: 19px;
    min-width: 19px;
    margin-right: 9px;
    text-align: center;
    vertical-align: middle;
  }

  .sub-menu {
    background-color: #eee;
    padding: 10px 0;
    list-style: none;
    line-height: 20px;

    .child {
      .nav__link {
        padding: 2px 15px 2px 49px;
        color: #696969;
        font-size: 13px;
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .badge {
        display: inline-block;
        border-radius: 2px;
        font-weight: 500;
        line-height: 9px;
        font-size: .85rem;
        padding: 2px 7px;
        margin-left: auto;
        margin-top: 1px;
        vertical-align: middle;
      }
    }
  }
}

.sidebar-progress {
  padding: 20px;
  cursor: pointer;

  &__data {
    color: #696969;

    .value {
      float: right;
    }
  }

  &__status {
    margin: 10px 0 0;
    height: 8px;
    background-color: #ebebeb;
    border-radius: 2px;
  }
}
