.sidebarRight {
  position: fixed;
  background-color: $cl-white5;
  margin-top: 61px;
  padding-bottom: 61px;
  width: 290px;
  height: calc(100% - 50px);
  right: -290px;
  top: 0;
  bottom: 0;
  border-left: 1px solid $cl-grey1;
  z-index: 1000;
  transition: all .35s ease;

  &-content {
    height: 100%;
  }

  .nav {
    border-bottom: 0;

    &-link {
      background-color: $cl-white1;
      border-width: 0;
      padding: 15px 10px;
      min-width: auto;
      font-size: 1.077rem;
      margin-right: 0;
      text-align: center;
      border-radius: 0;
      color: $cl-pri-hover;
      cursor: pointer;

      &:focus {
        border: 0;
      }

      &:hover {
        border: 0;
        background-color: $cl-white9;
        color: $cl-back-1;
      }
    }

    &-link.active {
      color: $bg-primary;
      background-color: transparent;
    }
  }

  .tab-pane,
  .tab-panel,
  .tab-content {
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .tab-chat {
    white-space: nowrap;
    font-size: 0;
    width: 290px;

    h2 {
      margin: 30px 20px 15px;
      line-height: 1.1;
    }
  }

  .chat-section {
    width: 100%;
    flex-grow: 1;
  }
  .chat-content {
    flex: 1;

    h2 {
      font-size: 1.154rem;
      font-weight: $font-weight-base;
      padding-bottom: 15px;
      border-bottom: 1px solid $cl-white2;
      padding-left: 5px;
      margin-bottom: 20px;
      margin-top: 18px;
    }

    .contact-list-recent {
      margin-bottom: 30px;
      font-size: .9231rem;
    }
  }

  .chat-contacts {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .chat-search {
    position: relative;
    border-top: 1px solid $cl-white1;

    input {
      border: 0;
      background-color: $cl-white5;
      color: $cl-pri-hover;
      width: 100%;
      font-size: 1rem;
      font-weight: $font-weight-base;
      padding: 15px 20px;
      outline: 0;
    }
    i {
      position: absolute;
      color: $cl-grey2;
      right: 15px;
      top: 50%;
      font-size: 1.538rem;
      margin-top: -10px;
      cursor: pointer;
    }
  }
}
.chat-window {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 290px;
  .title {
    padding: 20px 10px;
    padding-right: 20px;
    overflow: hidden;
  }
  .user {
    display: inline-block;
    float: right;
    text-align: right;
    line-height: 13px;
    img {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      float: right;
      margin-left: 10px;
    }
    h2 {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 1.154rem;
      font-weight: $font-weight-base;
      border: 0;
    }
    span {
      display: block;
      font-size: .9231rem;
      color: $cl-dark2;
    }
    .return {
      font-size: 2.077rem;
      width: 27px;
      text-align: center;
      color: $cl-gray9;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
    }
  }
  .return {
    font-size: 2.077rem;
    width: 27px;
    text-align: center;
    color: $cl-gray9;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }
  .chat-messages {
    height: 100%;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    .block-messages {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      outline: 0;
    }
    .content {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      padding-top: 20px;
    }

    li {
      display: block;
      list-style: none;
      padding: 2px 16px;
    }
    .smg {
      position: relative;
      display: inline-block;
      background-color: $bg-primary;
      color: $color-white;
      font-size: 1rem;
      padding: 6px 8px;
      border-radius: 3px;
      white-space: normal;
      text-align: left;
      margin-left: 40px;
    }
    #{$li}.friend .smg {
      background-color: $cl-gray4;
      color: $cl-black1;
      margin-left: 0;
      margin-right: 40px;
    }
    #{$li}.self {
      text-align: right;
    }
  }
  .chat-input {
    .input-wrapper {
      border-top: 1px solid $cl-white1;
      position: relative;
    }
    .send-camera {
      left: 15px;
      font-size: 1.692rem;
      top: 50%;
      right: auto;
    }
    i {
      position: absolute;
      color: $cl-grey2;
      right: 15px;
      top: 50%;
      font-size: 1.538rem;
      margin-top: -10px;
      cursor: pointer;
    }
    input {
      border: 0;
      background-color: $cl-white5;
      color: $cl-gray9;
      width: 100%;
      font-size: 1rem;
      font-weight: 300;
      padding: 15px 20px;
      padding-left: 42px;
      padding-right: 40px;
      outline: 0;
    }
  }
}
.user {
  a {
    display: block;
    padding: 11px 25px;
    overflow: hidden;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
  }

  &-data {
    padding-left: 40px;
    line-height: 16px;

    .status {
      background-color: $cl-green2;
      border-radius: 50%;
      float: right;
      width: 7px;
      height: 7px;
      position: relative;
      top: 5px;

      &.away {
        background-color: $cl-warning1;
      }

      &.offline {
        background-color: $cl-red1;
      }
    }

    .name {
      color: $cl-pri-hover;
      font-weight: $font-weight-base + 100;
      font-size: 1rem;
    }

    .message {
      display: block;
      color: $cl-dark2;
      font-size: 1rem;
    }
  }
}

.todo-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  .todo-input {
    position: relative;
    bottom: 0;
    border-top: 1px solid $cl-white1;
    input {
      border: 0;
      color: $cl-pri-hover;
      width: 100%;
      font-size: 1rem;
      font-weight: $font-weight-base;
      padding: 15px 20px;
      outline: 0;
    }
    i {
      position: absolute;
      color: $cl-grey2;
      right: 15px;
      top: 50%;
      font-size: 1.538rem;
      margin-top: -10px;
      cursor: pointer;
    }
  }
}

.todo-inner,
.tab-settings {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0;
  overflow: hidden;

  h3 {
    display: block;
    font-size: 1.154rem;
    font-weight: $font-weight-base;
    color: gray;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $cl-white2;
    margin-bottom: 15px;
    margin-top: 0;
  }
}

.todo-list {
  list-style: none;
  padding: 4px 0 1px;
  white-space: nowrap;
  text-overflow: ellipsis;

  .custom-control-check {
    margin-top: .1875rem;
    margin-bottom: 1.1105rem;
    position: relative;
    display: block;
    padding-left: 0;
    cursor: pointer;
  }
  .custom-checkbox-label {
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    vertical-align: top;
    font-size: 1rem;
    font-weight: $font-weight-base;
    color: $cl-gray6;
    outline: 0;
    cursor: pointer;
    margin-left: 0;
    padding-left: 5px;
    padding-bottom: 2px;
    &:after {
      position: absolute;
      top: 1px;
      left: 2px;
      display: block;
      content: '';
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      font-size: 15px;
      line-height: 1.2;
      width: 1.38462rem;
      height: 1.38462rem;
    }
    &:before {
      top: 0;
      left: 2px;
      position: absolute;
      border-radius: 3px;
      margin: 0;
      color: $bg-primary;
      display: block;
      width: 1.38462rem;
      height: 1.38462rem;
      pointer-events: none;
      content: '';
      background-color: $color-white;
      border: $cl-gray5 solid 1px;
    }
  }
  .custom-checkbox-input:checked ~ .custom-checkbox-label:after {
    font-size: 15px;
    line-height: 1.2;
  }
}

.todo-list > li .custom-control input[type='checkbox']:checked ~ .custom-control-label {
  text-decoration: line-through;
  color: $cl-dark2;
}

.tab-settings-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 15px;
  line-height: 20px;

  li {
    margin: 0;
    padding: 5px 0;
    line-height: 24px;
    font-size: 1.077rem;

    .switch-button {
      float: right;
      margin-left: 5px;
    }

    .name {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.sidebar-show {
  right: 0;
}
.sidebar-left {
  height: 100%;
  margin-top: 61px;
  padding-bottom: 61px;
  padding-top: 8px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1029;
  background-color: $cl-white8;
  width: 230px;
  left: 0;
  border-right: 1px solid $bg-secondary-active;
  transition: all .35s ease;

  &-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sub-menu.child {
    li {
      padding-left: 11px;
    }
  }

  @include breakpoint-down(phone) {
    left: -230px;
  }
}
.sidebarLeft-show {
  left: 0;
}
.sidebar-nav {
  position: relative;

  .nav {
    display: flex;
    flex-direction: column;

    .divider {
      padding: 20px 20px 0;
      color: $cl-dark10;
      line-height: 30px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      font-size: .8462rem;
    }
  }
}

.nav {
  &__link {
    display: block;
    padding: 0 20px;
    color: $cl-dark9;
    font-size: 1.077rem;
    line-height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: transform .5s;

    &:hover,
    &:focus {
      background-color: $cl-gray4;
      color: $cl-dark9;
    }
    &[aria-expanded='true']:before,
    &[aria-expanded='true']:after {
      transition: transform .5s;
      transform: rotate(180deg);
    }
  }

  &__item.active .nav__link {
    padding-left: 20px;
    color: $bg-primary;
  }

  &__item.parent > a:before,
  &__item.has-child > a:after,
  &__item.has-child > a:after {
    content: '\f2f2';
    float: right;
    font-family: $font-icon;
    transition: transform .5s;
    font-size: 1.615rem;
    color: $cl-grey;
  }
  &__item.has-child > a:after,
  &__item.has-child > a:after {
    position: absolute;
    right: 20px;
  }
  .zmdi {
    line-height: 18px;
    font-size: $font-size-large + 1;
    min-width: 19px;
    margin-right: 9px;
    text-align: center;
    vertical-align: middle;
  }

  .sub-menu {
    background-color: $cl-disabled;
    padding: 10px 0;
    list-style: none;
    line-height: 20px;

    .child {
      .nav__link {
        padding: 2px 15px 2px 49px;
        color: $cl-dark9;
        font-size: 13px;
        display: flex;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .nav__link.active {
        color: $bg-primary;
      }
      .badge {
        display: inline-block;
        border-radius: 2px;
        font-weight: $font-weight-base + 100;
        line-height: 9px;
        font-size: .85rem;
        padding: 2px 7px;
        margin-left: auto;
        margin-top: 1px;
        vertical-align: middle;
      }
    }
  }
}

.sidebar-progress {
  padding: 20px;
  cursor: pointer;

  &__data {
    color: $cl-dark9;

    .value {
      float: right;
    }
  }

  &__status {
    margin: 10px 0 0;
    height: 8px;
    background-color: $cl-white2;
    border-radius: 2px;
  }
}
