// ======================================================
// Base :: Colors
// ======================================================
$color-white: #fff;
$color-hover: #272727;
$color-border: #bababa;
$color-black: #000;
$color-pri-hover: #404040;
//background
$bg-white: #fff;
$bg-primary: #4285f4;
$bg-primary-shadow: rgba(18, 102, 241, .96);
$bg-danger: #ea4335;
$bg-warning: #fbbc05;
$bg-warning-hover: #ca9703;
$bg-secondary-active: #e3e3e3;
$bg-active-pri: #2572f2;
$bg-danger-active: #e72919;
$bg-warning-active: #dea604;
$bg-success: #28a745;
$bg-success-active: #2d9147;

//border
$bd-danger: #ea4335;
$box-shadow-danger : #d62516;
$bd-warning: #fbbc05;
$box-shadow-warning: #ca9703;
$bd-warning-focus: #bd8e03;
$bd-sd-primary: #1266f1;
$bd-active-pri: #2572f2;
$box-shadow-active-pri: #0c57d3;
$bd-primary: #4285f4;
$bd-danger-active: #e72919;
$bd-danger-top: #b51f13;
$bd-danger-shadow: #d62516;
$bd-warning-active: #dea604;
$bd-warning-top: #a77d03;
$box-shadow-success: #218838;
$bd-success-active: #2d9147;
$bd-success-top: #206632;
$box-shadow-success-active: #288140;

