// ======================================================
// Base :: Global like html, body, img, a, ul
// ======================================================
html {
  font-size: $font-size-base - 1;
}

body {
  font-size: $font-size-base - 1;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  background: none;
}

img {
  vertical-align: middle;
}

a {
  color: $blue;

  &:hover,
  &:focus,
  &:active {
    outline: 0;
    box-shadow: none;
    text-decoration: none;
  }
}

ul,
ol {
  list-style: none;
  padding: 0;
}

.glyphicon {
  display: inline-block;
  text-rendering: auto;
  font: $font-size-base/1 $font-icon;
  font-size: inherit;
}

.icon-arrow-right:after {
  content: '\f2fb';
  font-size: $font-size-base;
  font-weight: $font-weight-bolded;
}

.icon-arrow-left:before {
  content: '\f2fa';
  font-size: $font-size-base;
}

.be-content {
  position: relative;
  left: 0;
  margin-left: 230px;
  min-height: 100%;
  top: 20px;
}

.main-content {
  padding: 25px;
}

.scrollTop {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: $color-white;
  background-color: $cl-back-top;
  padding: 0 14px;
  display: none;
  transition: background-color .2s ease;
  border-radius: 4px;
  z-index: 1071;
  &:before {
    content: '\f2fc';
    font-family: $font-icon;
    font-size: 2.538rem;
    display: inline-block;
    vertical-align: middle;
  }

  &:focus,
  &:hover {
    color: $color-white;
  }
  &:hover {
    background-color: rgba($color-black, .8);
  }
}
.page-list__link {
  display: inline;
}
