// ======================================================
// Abstracts :: Variables
// ======================================================

// Paths
$path-image: '../images';
$path-fonts: '../fonts';

// Fonts
// >> Font-family
$font-family-base : 'Roboto', 'Arial', 'sans-serif';
$font-icon: 'Material-Design-Iconic-Font';
$font-web-map: 'sans-serif', 'Verdana';
// >> Font-size
$font-size-small  : 12px;
$font-size-base   : 14px;
$font-size-medium : 16px;
$font-size-large  : 18px;
// >> Font-weight
$font-weight-xs: 100;
$font-weight-light: 300;
$font-weight-base : 400;
$font-weight-bold : 600;
$font-weight-bolded : 700;

// Borders
$border-radius-small : 2px;
$border-radius-base  : 4px;
$border-radius-medium: 8px;

// z-index
$z-indexes: (
  base    : 1,
  under   : -1,
  modal   : 1001,
  sidebar : 1000
);
//color
$color-white: #fff;
$cl-white1: #f2f2f2;
$cl-white2: #ebebeb;
$cl-white3: #e4e4e4;
$cl-white4: #d9d9d9;
$cl-white5: #fafafa;
$cl-white6: #ebf2fe;
$cl-white7: #dce9fd;
$cl-white8: #f5f5f5;
$cl-white9: #f6f6f6;
$color-hover: #030202;
$color-border: #bababa;
$color-black: #000;
$cl-black-light: #dee2e642;
$cl-black2: #dee2e6;
$cl-back-1: #3b3b3b;
$cl-pri-hover: #404040;
$cl-slide: #4285f4;
$cl-blue1: #7fadf8;
$cl-blue3: #a2c3fa;
$cl-label-border: #d5d8de;
$color-load-more: #dbdbdb;
$cl-valid: #34a853;
$cl-green: #34a853;
$cl-disabled: #eee;
$cl-top-border: #bdc0c7;
$cl-switch-after: #b3b3b2;
$cl-pri-pricing: #5f99f5;
$cl-warning-pricing: #f6c163;
$cl-warning1: #f2c329;
$cl-success-pricing: #37b358;
$cl-danger-pricing: #eb6357;
$cl-red1: #e65a5a;
$cl-gray-light: #ccc;
$cl-gray-light1: #cccccca1;
$cl-black-light: #424242;
$cl-gray: #8a8a8a;
$cl-gray1 :#e0e0e0;
$cl-gray2: #ededed;
$cl-gray3: #ababab;
$cl-gray4: #f0f0f0;
$cl-gray5: #a1a1a1;
$cl-gray6: #666;
$cl-gray7: #5a5a5a;
$cl-gray10: #5f5f5f;
$cl-gray8: #c9c9c9;
$cl-gray9: #b3b3b3;
$cl-red1: #ef6e63;
$cl-dark1: #878787;
$cl-dark2: #999;
$cl-dark3: #bababa;
$cl-dark4: #a6a6a6;
$cl-dark5: #9d9d9d;
$cl-dark6: #737373;
$cl-dark7: #495057;
$cl-dark8: #504e4e;
$cl-dark9: #696969;
$cl-dark10: #7b7b7b;
$cl-white-light: #f7f7f7;
$cl-icon: #c2c2c2;
$cl-summary: #c4c4c4;
$cl-total :#8c8c8c;
$cl-total-value: #4285f4;
$cl-gg: #eb5e4c;
$cl-gg-hover: #ec6655;
$cl-gg-bd: #e6351e;
$cl-face: #5d82d1;
$cl-face-hover: #6588d3;
$cl-face-bd: #3864c3;
$cl-back-top: #5e5e5e;
$cl-blue-light: #bad3fb;
$cl-sw1-succ: rgba(52, 168, 83, .5);
$cl-succ2: rgba(52, 168, 83, .25);
$cl-green1: #6cd187;
$cl-green2: #00b777;
$cl-sw-waring: rgba(3, 3, 3, .5);
$cl-danger1: #e82e1e;
$cl-danger2: rgba(234, 67, 53, .5);
$cl-danger3: rgba(234, 67, 53, .25);
$cl-focus1: rgba(135, 135, 135, .3);
$cl-focus2: rgba(66, 133, 244, .5);
$cl-black1: #595858;
$cl-grey: #b0b0b0;
$cl-grey1: #e8e8e8;
$cl-grey2: #aaa;
$cl-grey3: #707070;
$cl-grey4: #6b6b6b;
$cl-grey5: #9d9d9d;
$cl-grey6: #7a7a7a;
$cl-grey7: #e6e6e6;
$cl-tooltip: #292929;

$bg-white: #fff;
$bg-primary: #4285f4;
$bg-primary-shadow: rgba(18, 102, 241, .96);
$bg-danger: #ea4335;
$bg-warning: #fbbc05;
$bg-warning-hover: #ca9703;
$bg-secondary-active: #e3e3e3;
$bg-active-pri: #2572f2;
$bg-danger-active: #e72919;
$bg-warning-active: #dea604;
$bg-success: #28a745;
$bg-success-active: #2d9147;
$bg-blue-1: #0b79fa;

$bd-danger: #ea4335;
$box-shadow-danger : #d62516;
$bd-warning: #fbbc05;
$box-shadow-warning: #ca9703;
$bd-warning-focus: #bd8e03;
$bd-sd-primary: #1266f1;
$bd-active-pri: #2572f2;
$box-shadow-active-pri: #0c57d3;
$bd-primary: #4285f4;
$bd-danger-active: #e72919;
$bd-danger-top: #b51f13;
$bd-danger-shadow: #d62516;
$bd-warning-active: #dea604;
$bd-warning-top: #a77d03;
$box-shadow-success: #218838;
$bd-success-active: #2d9147;
$bd-success-top: #206632;
$box-shadow-success-active: #288140;

$li: 'li';
$table: 'table';
$tr: 'tr';
$td: 'td';
