-
  var listColor = ['success', 'primary', 'warning', 'danger']
-
  var listSize = ['sx','sm','md','lg']

h2 Checkbox
.row
  .col-md-6.col-12
    .code-example
      .demo
        h3 Checkbox Base
        +checkbox({
          checked: true,
          id: 'check1',
          label: 'Option1',
        })
        +checkbox({
          checked: false,
          id: 'check2',
          label: 'Option2',
        })
        +checkbox({
          checked: false,
          id: 'check3',
          label: 'Option3',
          disabled: true
        })
      pre
        code
        |+checkbox({
        |  checked: true,
        |  id: check1,
        |  label: 'Option1'
        |})
        |+checkbox({
        |  checked: false,
        |  id: check2,
        |  label: 'Option2'
        |})
        |+checkbox({
        |  checked: false,
        |  id: check3,
        |  label: 'Option3',
        |  disabled: true
        | })
  .col-md-6.col-12
    .code-example
      .demo.custom-demo
        h3 Checkbox Inline
        +checkbox({
          checked: true,
          id: 'check4',
          label: 'Option1',
        })(class="custom-checkbox--inline")
        +checkbox({
          checked: false,
          id: 'check5',
          label: 'Option2',
        })(class="custom-checkbox--inline")
        +checkbox({
          checked: false,
          id: 'check6',
          label: 'Option3',
          disabled: true
        })(class="custom-checkbox--inline")
      pre
        code
        |+checkbox({
        |  checked: true,
        |  id: check4,
        |  label: 'Option1'
        |})
        |+checkbox({
        |  checked: false,
        |  id: check5,
        |  label: 'Option2'
        |})
        |+checkbox({
        |  checked: false,
        |  id: check6,
        |  label: 'Option3'
        |  disabled: true
        |})
  