-
  var listColor = ['success', 'primary', 'warning', 'danger']
-
  var listSize = ['sx','sm','md','lg']

h2 Checkbox
.row
  .col-12.col-md-6
    .code-example
      .demo
        h3 Checkbox Base
        +checkbox({
          checked: true,
          id: 'check1',
          label: 'Option1',
        })
        +checkbox({
          checked: false,
          id: 'check2',
          label: 'Option2',
        })
        +checkbox({
          checked: false,
          id: 'check3',
          label: 'Option3',
          disabled: true
        })
      pre
        code
        |+checkbox({
        |  checked: true,
        |  id: check1,
        |  label: 'Option1'
        |})
        |+checkbox({
        |  checked: false,
        |  id: check2,
        |  label: 'Option2'
        |})
        |+checkbox({
        |  checked: false,
        |  id: check3,
        |  label: 'Option3',
        |  disabled: true
        | })
  