h2 Seclectbox
.row
  .col-md-6.col-12
    .code-example
      .demo
        -
          var options = [
            { value: '1', display: '1',selected: 'true'},
            { value: '2', display: '2' },
            { value: '3', display: '3' },
            { value: '4', display: '4' },
            { value: '5', display: '5' },
          ];
        +selectbox({
          label: 'Basic Select',
          options,
          selected: val.selected,
        })
      pre
        code
        |-
        | var options = [
        |  { value: '1', display: '1',selected: 'true'},
        |  { value: '2', display: '2' },
        |  { value: '3', display: '3' },
        |  { value: '4', display: '4' },
        |  { value: '5', display: '5' },
        | ];
        |+selectbox({
        |   label: 'Basic Select',
        |   options,
        |   selected: val.selected,
        |})
  .col-md-6.col-12
    .code-example
      .demo
        -
          var options = [
            { value: '1', display: '1',selected: 'true'},
            { value: '2', display: '2' },
            { value: '3', display: '3' },
            { value: '4', display: '4' },
            { value: '5', display: '5' },
          ];
        +selectbox({
          label: 'Basic Select',
          options,
          multiple: 'multiple'
        })
      pre
        code
        |-
        | var options = [
        |  { value: '1', display: '1',selected: 'true'},
        |  { value: '2', display: '2' },
        |  { value: '3', display: '3' },
        |  { value: '4', display: '4' },
        |  { value: '5', display: '5' },
        | ];
        |+selectbox({
        |   label: 'Basic Select',
        |   options,
        |   multiple: 'multiple'
        |})
