.card-header {
  margin-bottom: 0;
}
.login-title {
  text-align: center;
  display: block;
  font-size: 1.308rem;
  font-weight: $font-weight-light;
}
.btn {
  width: 100%;
  &-facebook {
    color: $color-white;
    background-color: $cl-face;
    border-color: $cl-face;
    &:hover {
      color: $color-white;
      box-shadow: inset 0 -2px 0 $cl-face-bd;
      background-color: $cl-face-hover;
      border-color: $cl-face-hover;
      border-bottom-color: $cl-face-bd;
    }
  }
  &-google-plus {
    color: $color-white;
    background-color: $cl-gg;
    border-color: $cl-gg;
    &:hover {
      color: $color-white;
      box-shadow: inset 0 -2px 0 $cl-gg-bd;
      background-color: $cl-gg-hover;
      border-color: $cl-gg-hover;
      border-bottom-color: $cl-gg-bd;
    }
  }
  .icon {
    font-size: 1.615rem;
    line-height: 15px;
  }
  .icon-left {
    margin-right: 4px;
  }
}
.signup {
  .title {
    text-align: center;
    display: block;
    font-size: 1.308rem;
    font-weight: $font-weight-light;
  }
}
