.be-content {
  top: 60px;
}
.display {
  &-heading {
    font-size: 40px;
    font-weight: $font-weight-xs;
    margin: 20px 0 15px;
  }
  &-description {
    font-size: 18px;
    font-weight: $font-weight-xs;
    line-height: 29px;
    margin: 0 0 50px;
  }
}
.pricing-table {
  box-shadow: 0 0 4px 0 rgba($color-white, .04);
  border-radius: 3px;
  border-top: 3px solid $cl-gray8;
  padding: 35px 20px;
  background: $color-white;
  text-align: center;
  margin: 0 0 20px;
  &-image {
    margin-bottom: 15px;
  }
  &-primary {
    border-color: $bg-primary;
    path {
      fill: $bg-primary;
    }
  }
  &-warning {
    border-color: $bg-warning;
    path {
      fill: $bg-warning;
    }
  }
  &-success {
    border-color: $cl-valid;
    path {
      fill: $cl-valid;
    }
  }
  &-danger {
    border-color: $bd-danger;
    path {
      fill: $bd-danger;
    }
  }
  &-title {
    font-size: 1.538rem;
    font-weight: $font-weight-light;
  }
  &-price {
    padding: 5px 0 20px;
    .currency {
      vertical-align: top;
    }
    .value {
      font-size: 35px;
      line-height: 40px;
      color: $cl-pri-hover;
    }
    .frecuency {
      font-size: 1.538rem;
      font-weight: $font-weight-light;
    }
  }
  &-features {
    li {
      font-size: 1.077rem;
      font-weight: $font-weight-light;
      line-height: 33px;
    }
  }
  & .btn {
    line-height: 36px;
    min-width: 120px;
  }
  .card-divider {
    margin: 10px 0;
    border-top: 1px solid $cl-white1;
    &-xl {
      margin: 20px 0;
    }
  }
}
.pricing-tables {
  margin: 30px 0 20px;
  & > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
