.timeline.timeline2 {
  &-variant {
    max-width: none;
    padding-bottom: 0;
    &:before {
      left: 50%;
      z-index: -1;
      top: 70px;
    }
    & .timeline-header {
      padding-top: 0;
      line-height: 16px;
    }
    & .timeline-time {
      float: none;
      display: block;
      line-height: 21px;
    }
    & .timeline-item {
      padding-left: 0;
      margin: 30px 0 0;
      &.left {
        left: 0;
        padding-right: calc(50% + 45px);
      }
      &.left .timeline-content:before {
        right: -5px;
        left: inherit;
      }
      &.left .timeline-icon {
        left: initial;
        right: -67px;
      }
      &-detailed .timeline-header {
        border-bottom: 1px solid $cl-disabled;
        padding-bottom: 15px;
      }
    }
    & .timeline-loadmore {
      text-align: center;
      margin-bottom: 40px;
    }
    & .timeline-activity {
      display: inline;
      line-height: 16px;
    }
  }
  &-summary {
    margin-top: 20px;
  }
  &-month {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 30px 0 15px;
    padding: 11px 0 12px;
    font-size: 1.385rem;
    background-color: $cl-disabled;
    font-weight: $font-weight-light;
    &:first-child {
      margin-top: 0;
      padding-bottom: 5px;
    }
  }
  &-item {
    padding-left: 0;
    margin: 30px 0 0;
    &:before {
      display: none;
    }
  }
  &-item.right {
    right: 0;
    padding-left: calc(50% + 45px);
  }
  &-icon {
    position: absolute;
    color: $color-white;
    top: 20px;
    left: -67px;
    width: 44px;
    height: 44px;
    font-size: 1.538rem;
    border: 2px solid $color-white;
    text-align: center;
    background-color: $cl-gray2;
    border-radius: 50%;
    .icon {
      line-height: 40px;
      vertical-align: middle;
    }
  }
  .file &-icon {
    background-color: $bg-primary;
  }
  .comment &-icon {
    background-color: $bg-warning;
  }
  .gallery .timeline-icon {
    background-color: $cl-valid;
  }
  .quote .timeline-icon {
    background-color: $bg-danger;
  }
}
