.timeline2 {
  .timeline-item {
    padding-left: 0;
    margin: 30px 0 0;
    &:before {
      display: none;
    }
  }
}
.timeline {
  &.timeline-variant {
    max-width: none;
    padding-bottom: 0;
    &:before {
      @include breakpoint-down(phone) {
        left: 50%;
        margin-left: -1px;
        top: 70px;
      }

      left: 50%;
      z-index: -1;
      content: '';
      position: absolute;
      top: 40px;
      bottom: 0;
      width: 2px;
      background: #dbdbdb;
      margin-left: -1px;
    }
    & .timeline-header {
      padding-top: 0;
      line-height: 16px;
    }
    & .timeline-time {
      float: none;
      display: block;
      line-height: 21px;
    }
    & .timeline-item {
      padding-left: 0;
      margin: 30px 0 0;

      @include breakpoint-down(phone) {
        margin-top: 60px;
      }
      &.left .timeline-content:before {
        right: -5px;
        left: inherit;
      }
      &-detailed .timeline-header {
        border-bottom: 1px solid $cl-disabled;
        padding-bottom: 15px;
      }
    }
    & .timeline-item.right {
      right: 0;
      padding-left: calc(50% + 45px);

      @include breakpoint-down(phone) {
        padding: 0;
      }
    }
    & .timeline-item.left {
      left: 0;
      padding-right: calc(50% + 45px);

      @include breakpoint-down(phone) {
        padding: 0;
      }
    }
    &.timeline-item.left .timeline-icon {
      left: initial;
      right: -67px;

      @include breakpoint-down(phone) {
        left: 50%;
        margin-left: -18px;
        top: -48px;
      }
    }
    & .timeline-loadmore {
      text-align: center;
      margin-bottom: 40px;
      .load-more-btn {
        position: relative;
        left: initial;
      }
    }
    & .timeline-activity {
      display: inline;
      line-height: 16px;
    }
  }
  &-summary {
    margin-top: 20px;
  }
  &-month {
    width: 100%;
    text-align: center;
    list-style: none;
    margin: 30px 0 15px;
    padding: 11px 0 12px;
    font-size: 1.385rem;
    background-color: $cl-disabled;
    font-weight: $font-weight-light;
    &:first-child {
      margin-top: 0;
      padding-bottom: 5px;
    }
  }
  &-icon {
    position: absolute;
    color: $color-white;
    top: 20px;
    left: -67px;
    width: 44px;
    height: 44px;
    font-size: 1.538rem;
    border: 2px solid $color-white;
    text-align: center;
    background-color: $cl-gray2;
    border-radius: 50%;

    @include breakpoint-down(phone) {
      left: 50%;
      margin-left: -18px;
      top: -48px;
      width: 38px;
      height: 38px;
      font-size: 1.385rem;
    }
    .icon {
      line-height: 40px;
      vertical-align: middle;

      @include breakpoint-down(phone) {
        line-height: 34px;
      }
    }
  }
  .file &-icon {
    background-color: $bg-primary;
  }
  .comment &-icon {
    background-color: $bg-warning;
  }
  .gallery .timeline-icon {
    background-color: $cl-valid;
  }
  .quote .timeline-icon {
    background-color: $bg-danger;
  }
}
