// ======================================================
// Pages :: Home
// ======================================================
// Start classname with prefix `p-`

body {
  height: auto;
  background: lighten(#b37399, .5%);
}

.sub-menu.child {
  li {
    padding-left: 11px;
  }
}

.widget.widget-sparkine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .data-info {
    .desc {
      margin-bottom: 0;
      margin-top: 5px;
    }
  }
}

.widget.widget-title {
  canvas {
    margin-top: 10%;
  }

  .data-info {
    text-align: right;
  }

  .desc {
    font-size: 1.077rem;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: $font-weight-base;
  }

  .value {
    font-size: 1.693rem;
    font-weight: $font-weight-light;

    .indicator {
      font-size: 1.923rem;
      margin-right: 7px;
      line-height: 24px;
      vertical-align: middle;
    }

    .zmdi-chevron-right {
      color: $bg-primary;
    }

    .zmdi-chevron-up {
      color: $cl-valid;
    }

    .zmdi-chevron-down {
      color: $bd-danger;
    }
  }
}

.tooltip-chart {
  display: flex;
}

.tooltip-chart .content-chart {
  background-color: rgba($color-black, .8);
  color: $color-white;
  border-radius: 3px;
  padding: 5px 12px 5px;
  position: relative;
}

.tooltip-chart .content-chart:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba($color-black, .8);
  position: absolute;
  bottom: -5px;
  margin-left: 50%;
  left: -5px;
}

.tooltip-chart .content-chart.arrow-none:before {
  display: none;
}

.tooltip-chart .content-chart span {
  display: block;
  font-size: 12px;
  font-weight: $font-weight-bold;
  margin-bottom: -2px;
  text-align: center;
  color: $cl-blue-light;
}

.tooltip-chart .content-chart .label {
  font-size: 11px;
  text-align: center;
  border: 0;
}

.tooltip-chart .content-chart .label .label-x,
.tooltip-chart .content-chart .label .label-y {
  display: inline-block;
}

.widget {
  $this: &;

  background-color: $color-white;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;

  &.loading {
    position: relative;
    .widget-head {
      margin-bottom: 15px;
    }
  }

  &#{$this}-fullwidth {
    padding: 0;

    .widget-head {
      padding: 20px 20px 10px;
      margin-bottom: 0;
    }
  }

  .tools {
    float: right;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;

    .dropdown-toggle:after {
      display: none;
    }

    .icon {
      display: inline-block;
      font-size: 1.538rem;
      line-height: 25px;
      vertical-align: middle;
      cursor: pointer;
      color: $cl-dark3;
      min-width: 1.538rem;
      text-align: center;
      margin-right: 0;
      &:hover {
        color: $cl-dark4;
      }
    }
  }

  .button-toolbar {
    float: right;

    .btn-group {
      margin-right: 7px;
    }

    .btn {
      border-color: $color-load-more;
      outline: 0;
    }

    .btn:hover {
      color: $color-hover;
      border-color: $cl-dark3;
      box-shadow: inset 0 -1px 0 rgba($color-black, .06);
    }

    .btn:focus,
    .btn:active,
    .btn.active {
      color: $color-hover;
      background-color: $bg-secondary-active;
      border-color: $cl-dark3;
      box-shadow: none;
      outline: 0;
    }
  }

  .widget-head {
    .title {
      display: block;
      font-size: 1.385rem;
      font-weight: $font-weight-light;
      float: left;
    }
  }

  &-counter-group {
    padding: 0 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .counter-big {
      text-align: right;
      margin-left: 22px;
    }

    .value {
      display: block;
      font-size: 2.077rem;
      line-height: 2.077rem;
      font-weight: $font-weight-light;
      margin-bottom: 5px;
    }

    .desc {
      text-transform: uppercase;
      font-size: .8462rem;
      color: $cl-dark5;
    }
  }

  .chart-legend-horizontal {
    flex-direction: row;
    padding-left: 20px;
    margin-bottom: 0;
    list-style: none;
    line-height: 14px;

    li {
      display: inline-block;
      margin-right: 14px;
    }

    .chart-color {
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin-right: 6px;
    }

    .chart-color1 {
      background-color: $bg-primary;
    }

    .chart-color2 {
      background-color: $cl-blue1;
    }

    .chart-color3 {
      background-color: $cl-blue3;
    }
  }

  .widget-chart-container {
    position: relative;
    padding-top: 9px;

    .counter {
      .desc {
        text-transform: uppercase;
        font-size: .8462rem;
        color: $cl-grey5;
      }

      .value {
        font-size: 1.846rem;
      }
    }

    .indicator {
      .icon {
        font-size: 1.923rem;
        margin-right: 7px;
        line-height: 24px;
        vertical-align: middle;
        color: $cl-green;
      }

      .number-per {
        font-size: 1.538rem;
        vertical-align: middle;
      }
    }
  }

  .chart-pie-counter {
    display: block;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    line-height: 3.846rem;
    margin-top: 0;
    font-size: 3.846rem;
    font-weight: $font-weight-light;
  }
}

.hasDatepicker.ui-datepicker {
  position: relative;
  margin: 0 0 32px;
  padding: 20px;
}

.ui-datepicker #{$table}.ui-datepicker-calendar {
  width: 100%;
}

.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} #{$td}:first-child,
.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} th:first-child {
  padding-left: 0;
}

.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} #{$td}:last-child,
.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} th:last-child {
  padding-right: 0;
}

.ui-datepicker #{$table}.ui-datepicker-calendar th {
  border: 0;
  padding: 3px;
  text-align: center;
  font-weight: $font-weight-light;
  color: $cl-pri-hover;
}

.ui-datepicker #{$table}.ui-datepicker-calendar th span {
  font-size: 1.077rem;
}

.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} #{$td} {
  border: 0;
  padding: 6px 0;
  text-align: center;
}

.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} #{$td} a {
  display: inline-block;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: $cl-dark6;
  width: 27px;
  height: 27px;
  line-height: 27px;
}

.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} #{$td} a:hover {
  color: $cl-pri-hover;
}

.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} #{$td} a.ui-state-active,
.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} #{$td} a.ui-state-highlight {
  background-color: $cl-grey7;
  border-radius: 50%;
}

.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} #{$td} a.ui-state-highlight {
  background-color: $bg-primary;
  color: $color-white;
}

.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} #{$td}.has-events a {
  position: relative;
  background-color: $cl-white6;
  border-radius: 50%;
}

.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} #{$td}.ui-datepicker-other-month a {
  color: $cl-gray-light;
}

.ui-datepicker #{$table}.ui-datepicker-calendar #{$tr} #{$td}.ui-datepicker-other-month a.ui-state-highlight {
  color: $bg-white;
}

.ui-datepicker.ui-datepicker-6rows {
  margin-bottom: 28px;
}

.ui-datepicker.ui-datepicker-6rows #{$table}.ui-datepicker-calendar #{$tr} #{$td} {
  padding: 3px 0;
}

.ui-datepicker .ui-datepicker-header {
  border-bottom: 0;
  padding-bottom: 40px;
  padding-top: 8px;
}

.hasDatepicker {
  background: $bg-white;
  margin-top: 0;
  padding-bottom: 33px;
}

.ui-datepicker-title {
  position: absolute;
  top: 35px;
  left: 40%;
  cursor: default;
  line-height: 24px;
  margin: 0;
  text-align: center;
  font-weight: $font-weight-light;
  font-size: 1.385rem;
}

.ui-datepicker-prev {
  opacity: 0;

  span:after {
    content: '\f2fa';
    font-family: $font-icon;
    font-size: 25px;
    font-weight: $font-weight-light + 100;
    display: block;
    width: 50px;
    margin-left: 9px;
    float: left;
  }
}

.ui-datepicker-next {
  .ui-icon {
    opacity: 0;
  }

  span:after {
    content: '\f2fb';
    font-family: $font-icon;
    font-size: 25px;
    font-weight: $font-weight-light + 100;
    display: block;
    width: 50px;
    margin-right: 13px;
    float: right;
    text-align: right;
  }
}

.card-body {
  padding: 0;
}

.card-table .card-header {
  padding-bottom: 10px;
  padding-top: 20px;
  border: 0;
  font-size: 18px;
  font-weight: $font-weight-light;

  .title {
    text-align: left;
  }

  .tools {
    float: right;
    font-size: 0;

    .icon {
      display: inline-block;
      font-size: 1.538rem;
      line-height: 25px;
      vertical-align: middle;
      cursor: pointer;
      color: $cl-dark3;
      min-width: 1.538rem;
      text-align: center;
    }

    & > a {
      display: inline-block;
    }

    .dropdown-item {
      font-weight: $font-weight-base;
      color: $cl-dark8;
      padding: 8px 20px;
    }
  }
}

.content-home {

  .card-header {
    font-size: 18px;
    font-weight: $font-weight-light;
  }

  .table {
    margin-bottom: 0;

    .price {
      text-align: right;
      padding-right: 10px;
    }

    &.table-borderless th {
      border-bottom: 2px solid $cl-black2;
    }

    &.table-striped tbody tr:nth-of-type(odd) {
      background-color: $cl-white8;
    }

    .actions {
      text-align: center;

      .icon {
        color: $cl-gray5;
        font-size: 1.3846rem;
        line-height: 18px;
      }
    }

    tbody > tr > td {
      font-weight: $font-weight-base;
      vertical-align: middle;
      white-space: nowrap;
    }

    &.table-responsive tbody > tr > td {
      padding-top: 11px;
      padding-bottom: 11px;
    }

    .user-avatar {
      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
}

.card-table tr td:first-child,
.card-table tr th:first-child {
  padding-left: 20px;
}

.card-progress {
  padding: 25px 20px 20px;
  border-radius: 0 0 3px 3px;
}

.user-progress {
  margin-bottom: 15px;

  .progress {
    height: 10px;
    border-radius: 5px;
    margin-bottom: 0;
  }
}

.user-progress-small {
  margin-bottom: 20px;

  .progress {
    margin-top: 5px;
    height: 5px;
  }
}

.user-progress-small .title {
  display: inline-block;
  margin-bottom: 10px;
  white-space: nowrap;
}

.card-header-divider {
  text-align: left;
  border-bottom: 1px solid $cl-white4;
  margin: 0 1.538rem 8px;
  padding: 20px 0 15px;
}

.chart-legend-color {
  display: flex;
  justify-content: space-between;

  span {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .text {
    &:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 10px;
    }

    &.cl1:before {
      background-color: $bg-success;
    }

    &.cl2:before {
      background-color: $bg-warning;
    }

    &.cl3:before {
      background-color: $bg-primary;
    }
  }
}

.latest-activity {
  .card-header {
    padding-top: 15px;
    text-align: left;
    border-bottom: 0;
  }

  .card-body {
    padding: 8px 20px 20px;
    border-radius: 0 0 3px 3px;
  }
}

.user-timeline {
  padding: 0;
  margin: 5px 0 15px;
  list-style: none;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 7px;
    top: 2px;
    height: 100%;
    width: 2px;
    background-color: $cl-warning-pricing;
  }

  &:after {
    content: '';
    position: absolute;
    left: 4px;
    bottom: -2px;
    height: 8px;
    width: 8px;
    background-color: $cl-warning-pricing;
    border-radius: 50%;
  }

  li {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-bottom: 27px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      height: 16px;
      width: 16px;
      background-color: $bg-white;
      border-radius: 50%;
      border: 1px solid $cl-warning-pricing;
    }
  }
}

.user-timeline-compact {
  li {
    padding-bottom: 35px;

    &:last-child {
      padding-bottom: 25px;
    }

    .user-timeline-date {
      float: right;
      text-transform: capitalize;
      margin-bottom: 0;
      line-height: 22px;
      color: $cl-dark6;
    }

    .user-timeline-title {
      font-size: 1.385rem;
      font-weight: $font-weight-light;
    }

    .user-timeline-description {
      color: $cl-dark6;
      margin-top: 4px;
    }
  }

  .latest:before {
    background-color: $cl-warning-pricing;
  }
}

.jqvmap-zoomin,
.jqvmap-zoomout {
  position: absolute;
  padding: 3px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: $cl-white4;
  color: $cl-grey6;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  border-radius: 0;
  top: auto;
  left: 0;
  bottom: 0;
}

.jqvmap-zoomin {
  left: 43px;
}

.spinner {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -20px;
  margin-right: -20px;
  z-index: 3;
  display: none;
}

.convention {
  .widget-chart-info {
    margin-bottom: 20px;
  }
}

.loading {
  position: relative;
}

.spinner.show {
  display: block;
}

.widget.loading:after {
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba($color-white, .7);
  transition: all .2s ease;
  z-index: 2;
}

.widget.loading.show:after {
  visibility: visible;
  opacity: 1;
}

.spinner svg {
  animation: be-spinner-rotation 1.4s linear infinite;
  stroke: $bg-primary;
}

.spinner svg .circle {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: be-spinner-turn 1.4s ease-in-out infinite;
}

@keyframes be-spinner-rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes be-spinner-turn {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
.dropdown-calendar {
  padding: 7px 0;
  min-width: 185px;
  line-height: 18px;
  left: -76px;
  .dropdown-item {
    padding: 8px 20px;
  }
}
.dropdown-table {
  left: -76px;
  .dropdown-item {
    font-weight: $font-weight-base;
    color: $cl-dark8;
    padding: 8px 20px;
  }
}
.tools.dropdown .icon {
  margin-right: 0;
}
.jqvmap-label,
.jqvmap-pin {
  pointer-events: none;
}
.jqvmap-label {
  position: absolute;
  display: none;
  border-radius: 3px;
  background: $cl-tooltip;
  color: $color-white;
  font-family: $font-web-map;
  font-size: $font-size-small - 1;
  padding: 3px;
  font-weight: $font-weight-light;
}
