.switch-button {
  position: relative;
  width: 60px;
  height: 27px;
  .onoffswitch {
    position: relative;
    width: 56px;

    &-checkbox {
      display: none;
    }

    &-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px;
      padding: 0;
      position: relative;
      height: 100%;
      transition: margin .5s ease-in 0s;
    }

    &-inner {
      display: block;
      &:before {
        background: #ccc;
      }
    }

    &-switch {
      display: block;
      width: 19px;
      height: 19px;
      margin: 4px 0 5px 6px;
      background: $bg-white;
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid $color-white;
      border-radius: 20px;
      transition: all .3s ease-in 0s;
    }
  }
  input[type='checkbox']:checked + label {
    border-radius: 50px;
    background-color: #4285f4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  input[type='checkbox']:checked + label .onoffswitch-switch {
    left: 50%;
  }
  input[type='checkbox']:checked + label .onoffswitch-inner:before {
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    z-index: 0;
    content: 'ON';
    line-height: 18px;
    color: #fff;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    text-align: left;
    transition: all 1s;
    background: blue;
  }
  label .onoffswitch-inner:before {
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    z-index: 0;
    content: 'OFF';
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 18px;
    top: 0;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    color: #fff;
    border-radius: 50px;
    transition: all 1s;
  }
  label {
    padding: 0;
  }
  &--success {
    .onoffswitch-inner:before {
      background: $bg-success;
    }
  }
  &--warning {
    .onoffswitch-inner:before {
      background: $bg-warning;
    }
  }
  &--danger {
    .onoffswitch-inner:before {
      background: $bg-danger;
    }
  }
  &--primary {
    .onoffswitch-inner:before {
      background: $bg-primary;
    }
  }
}
.switch-button--sx {
  height: 20px;
  line-height: 16px;
  width: 50px;
  .onoffswitch-inner {
    &:before {
      font-size: 1rem;
      line-height: 17px;
    }
  }
  .onoffswitch-switch {
    width: 12px;
    height: 12px;
    margin: 4px 0 4px 9px;
  }
  input[type='checkbox']:checked + label .onoffswitch-inner:before {
    line-height: 11px;
  }
  label .onoffswitch-inner:before {
    line-height: 11px;
  }
}
.switch-button--sm {
  height: 24px;
  line-height: 20px;
  width: 57px;
  .onoffswitch {
    &-inner {
      &:before {
        font-size: 1rem;
        line-height: 17px;
      }
    }
    &-switch {
      width: 16px;
      height: 16px;
      margin: 4px 0 3px 8px;
    }
  }
  input[type='checkbox']:checked + label .onoffswitch-inner:before {
    line-height: 15px;
  }
  label .onoffswitch-inner:before {
    line-height: 15px;
  }
}
.switch-button--lg {
  height: 30px;
  line-height: 26px;
  width: 65px;
  .onoffswitch {
    &-inner {
      &:before {
        font-size: 1rem;
        line-height: 17px;
      }
    }
    &-switch {
      width: 22px;
      height: 22px;
      margin: 4px 0 3px 8px;
    }
  }
  input[type='checkbox']:checked + label .onoffswitch-inner:before {
    line-height: 20px;
  }
  label .onoffswitch-inner:before {
    line-height: 20px;
  }
}
