
.switch-button {
  display: inline-block;
  border-radius: 50px;
  background-color: $cl-switch-after;
  width: 60px;
  height: 27px;
  padding: 4px;
  position: relative;
  vertical-align: middle;
  label {
    border: 0;
  }
  &--success &-input:checked ~ span {
    background-color: $cl-valid;
  }

  &--success &-input:checked ~ span .label {
    border-color: $cl-valid;
  }

  &--success &-input:checked:focus ~ span label:before {
    box-shadow: 0 0 0 .15rem $cl-sw1-succ;
  }

  &--warning &-input:checked ~ span {
    background-color: $cl-warning-pricing;
  }

  &--warning &-input:checked ~ span .label {
    border-color: $cl-warning-pricing;
  }

  &--warning &-input:checked:focus ~ span label:before {
    box-shadow: 0 0 0 .15rem $cl-sw-waring;
  }

  &--danger &-input:checked ~ span {
    background-color: $cl-danger1;
  }

  &--danger &-input:checked ~ span .label {
    border-color: $cl-danger1;
  }

  &--danger &-input:checked:focus ~ span label:before {
    box-shadow: 0 0 0 .15rem $cl-danger2;
  }

  &--yesno &-input ~ span label:before {
    content: 'NO';
  }

  &--yesno &-input:checked ~ span label:before {
    content: 'YES';
  }

  &--xs {
    height: 20px;
    line-height: 16px;
    width: 50px;
  }

  &--xs &-input ~ span label:after {
    height: 12px;
    width: 12px;
  }

  &--xs &-input ~ span label:after:before {
    line-height: 21px;
  }

  &--sm {
    height: 24px;
    width: 57px;
    line-height: 20px;
  }

  &--sm &-input ~ span label:after {
    height: 16px;
    width: 16px;
  }

  &--sm &-input ~ span label:after:before {
    line-height: 25px;
  }

  &--lg {
    height: 30px;
    line-height: 26px;
    width: 65px;
  }

  &--lg &-input ~ span label:after {
    height: 22px;
    width: 22px;
  }

  &--lg &-input ~ span label:after:before {
    line-height: 31px;
  }

  &-input {
    position: absolute;
    opacity: 0;
    box-sizing: border-box;
    padding: 0;
  }

  &-input:focus ~ span label:before {
    box-shadow: 0 0 0 .15rem $cl-focus1;
  }

  &-input:checked:focus ~ span label:before {
    box-shadow: 0 0 0 .15rem $cl-focus2;
  }

  &-input ~ span .label {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
  }

  &-input ~ span .label:after {
    left: 4px;
    top: 4px;
    position: absolute;
    content: '';
    white-space: nowrap;
    border-radius: 100%;
    background-color: #fff;
    height: 19px;
    width: 19px;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease;
  }

  &-input ~ span .label:before {
    position: absolute;
    font-size: .8462rem;
    font-weight: $font-weight-bold;
    content: 'OFF';
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: right;
    padding-right: 10px;
    color: #fff;
    border-radius: 50px;
  }

  &-input ~ span .label--xs:before {
    line-height: 21px;
  }

  &-input ~ span .label--sm:before {
    line-height: 24px;
  }

  &-input ~ span .label--md:before {
    line-height: 27px;
  }

  &-input ~ span .label--lg:before {
    line-height: 30px;
  }

  &-input:checked ~ span {
    border-radius: 100px;
    background-color: $cl-slide;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 4px;
  }

  &-input:checked ~ span .label:before {
    content: 'ON';
    left: 0;
    text-align: left;
    padding-left: 10px;
  }

  &-input:checked ~ span .label--xs:after {
    left: calc(100% - 16px);
  }

  &-input:checked ~ span .label--sm:after {
    left: calc(100% - 20px);
  }

  &-input:checked ~ span .label--md:after {
    left: calc(100% - 24px);
  }

  &-input:checked ~ span .label--lg:after {
    left: calc(100% - 26px);
  }
}
