extends modules/layout/_page-default
                           
block head
  +head('Beagle')

block main
  +header('Blank Page')
  +sidebarRight()
  +sidebarLeft('pages','01-blankpage.html')
  .be-content
    .main-content.container-fluid
      h3.text-center Content goes here!
