extends modules/layout/_page-default
        
block head
  +head('Beagle')

block main
  .main-content.container-fluid
    .login.signup
      .card.card-primary
        .card-header
          img.login-img(src="images/logo-xx.png", alt="")
          span.login-notice Forgot your password?
        .card-body
          form
            p Don't worry, we'll send you an email to reset your password.
            .form-group.pt-4
              +input-field({
                id: 'email',
                placeholder: 'Your Email',
                type: 'email'
              })
            p.pt-1.pb-4
              | Don't remember your email? 
              a(href="#") Contact Support
              | .
            .form-group.pt-1
              +buttons({
                type: 'primary',
                text: 'Reset Password',
                size: 'xl'
              })(class="btn-signup")
      .footer © 2018 Your Company

