extends modules/layout/_page-other
  
block head
  +head('List links')

  style.
    body {
      background: linear-gradient(270deg, #1d3349 0%, #0d1723 100%);
    }

    .page-list {
      position: relative;
      overflow: hidden;
      margin: 0 -15px;
      min-height: 100vh;
    }

    .page-list__title {
      margin: 40px auto 35px;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 9;
      color: #fff;
    }

    .page-list .table {
      background-color: rgba(255, 255, 255, 0.15);
      position: relative;
      z-index: 9;
      width: 65%;
      margin: 0 auto 65px;
      border-radius: 8px;
      overflow: hidden;
    }

    .page-list .table th,
    .page-list .table td {
      color: #fff;
      padding: 13px 15px;
      border-color: rgba(255, 255, 255, 0.15);
    }

    .page-list .table thead tr:first-child th {
      background-color: rgba(255, 255, 255, 0.25);
    }

    .page-list__link {
      color: #fff;
      text-decoration: none;
      display: inline;
    }
    .table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.78);
    }
    .table-striped tbody tr:nth-of-type(even) {
      background-color: #000;
    }
    .page-list__link:first-letter {
      font-size: 16px;
    }

    .page-list__link:hover {
      color: #fff;
    }

block body
  +page-list(pageList.data)
